#menu #{user.login}
  |  
  i.fas.fa-chevron-circle-down

  ul#drop
    li.sect
    a(href='/user')
      li Мои тесты
    a(href='/tests')
      li Все тесты
    li.sect
    a(href='/results')
      li Результаты
    li.sect
    a(href='/logout')
      li Выйти
    li.sect